In [1]:
import numpy as np
from sklearn.linear_model import LinearRegression
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('CDS492_Dataset.csv')

df.head(10)

,Year,Month,Carrier,Carrier_Name,Arrival Flights,Delays,Employees,Passengers,Delays_Over_Flights,Employees_Over_Flights,Passengers_Over_Flights
0,2021,12,9E,Endeavor,21876,793,5046,1109664,0.036250,0.230664,50.725178
1,2021,12,AA,American_Airlines,71824,4495,97881,12155584,0.062584,1.362790,169.241256
2,2021,12,AS,Alaska_Airlines,16885,1430,17054,2318889,0.084691,1.010009,137.334261
3,2021,12,B6,JetBlue_Airways,21181,2962,20680,3027871,0.139842,0.976347,142.952221
4,2021,12,DL,Delta_Air_Lines,68537,5164,81679,10380082,0.075346,1.191750,151.452237
5,2021,12,F9,Frontier_Airlines,13160,1254,5502,2055503,0.095289,0.418085,156.193237
6,2021,12,G4,Allegiant_Air,10339,849,4707,1326080,0.082116,0.455266,128.259986
7,2021,12,HA,Hawaiian_Airlines,6206,745,6599,735499,0.120045,1.063326,118.514180
8,2021,12,MQ,Envoy_Air,22845,1040,15305,1263213,0.045524,0.669950,55.294944
9,2021,12,NK,Spirit_Air_Lines,17985,1475,10433,3002407,0.082013,0.580095,166.939505

In [3]:
df2 = df[['Carrier_Name', 'Delays_Over_Flights', 'Employees_Over_Flights', 'Passengers_Over_Flights']]
df2.head(10)

,Carrier_Name,Delays_Over_Flights,Employees_Over_Flights,Passengers_Over_Flights
0,Endeavor,0.036250,0.230664,50.725178
1,American_Airlines,0.062584,1.362790,169.241256
2,Alaska_Airlines,0.084691,1.010009,137.334261
3,JetBlue_Airways,0.139842,0.976347,142.952221
4,Delta_Air_Lines,0.075346,1.191750,151.452237
5,Frontier_Airlines,0.095289,0.418085,156.193237
6,Allegiant_Air,0.082116,0.455266,128.259986
7,Hawaiian_Airlines,0.120045,1.063326,118.514180
8,Envoy_Air,0.045524,0.669950,55.294944
9,Spirit_Air_Lines,0.082013,0.580095,166.939505

In [4]:
unit_col_name='Carrier_Name'

df_dummies = pd.get_dummies(df[unit_col_name])

df2_with_dummies = df2.join(df_dummies)

In [5]:
df2_with_dummies = df2_with_dummies.drop('Carrier_Name', axis=1)
target_column = ['Delays_Over_Flights']
predictors = list(set(list(df2_with_dummies.columns))-set(target_column))

In [6]:
X = df2_with_dummies[predictors]
y = df2_with_dummies[target_column]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=40)
print(X_train.shape); print(X_test.shape)

(940, 18)
(404, 18)

In [7]:
model = LinearRegression().fit(X_train, y_train)

In [10]:
print(model.score(X_train, y_train))

0.6433544978205257

In [15]:
pred_train= model.predict(X_train)
print("Mean Squared Error: ", mean_squared_error(y_train, pred_train))
print("Root Mean Squared Error: ", np.sqrt(mean_squared_error(y_train,pred_train)))
print("R2 Score: ", r2_score(y_train, pred_train))

Mean Squared Error:  0.00026352980646386024
Root Mean Squared Error:  0.016233601155130683
R2 Score:  0.6433544978205257

In [16]:
pred= model.predict(X_test)
print("Mean Squared Error: ", mean_squared_error(y_test, pred))
print("Root Mean Squared Error: ", np.sqrt(mean_squared_error(y_test,pred)))
print("R2 Score: ", r2_score(y_test, pred))

Mean Squared Error:  0.0002783682540048807
Root Mean Squared Error:  0.01668437154959337
R2 Score:  0.6385237217558299